@cepsa:registtry = https://cepsa.jfrog.io/artifactory/api/npm/dsi-npm-unstable
_auth = c2l0bW92MGswM0BvdXRzb3VyY2luZy5jZXBzYS5jb206QUtDcDhtWkhzU21iUnFQY0pDOTFGU3hyWThVUDlCMzZOaHlMdkdSdmRYUFo2YnBjR1pCZGt1MTVwYUpXM2hjWVl3cndydGZ1dw==
always-auth = true
